<div class="form-group">
    <label for="title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">
</div>
<div class="mt-3 form-group">
    <label for="description">Description</label>
    <textarea name="description" rows="15" id="description" class="form-control"></textarea>
</div>
<div class="mt-3 form-group">
    <label for="markdown">Markdown</label>
    <textarea name="markdown" rows="5" id="markdown" class="form-control"></textarea>
</div>


<button type="submit" class=" mt-4 btn btn-primary " >Save</button>